<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Welcome To My Awesome Cart</title>
  </head>
  <div class="alert alert-success">
  <strong>My Cart! | </strong> We are actively working to ensure the delivery of essential items.
</div>
  <body>
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
 
  <h1 class="display-4">Welcome To My Awesome Cart</h1>
  <p class="lead"> India’s #1 eCommerce shipping solution, trusted by over 30,000 brands and entrepreneurs
for lowest shipping rates, widest reach and best customer service. </p>
  <hr class="my-4">
  <p>We power ecommerce businesses by making shipping easy</p>
  <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>
</div>

 </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  </style>


<body data-spy="scroll" data-target=".navbar" data-offset="50">



<div id="section1" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px">
  <h1>About Us</h1>
  <p>We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. My employies are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>
  <a class="btn btn-outline-dark" href="/shop/about" role="button">Go To About Us</a>
</div>
<div id="section2" class="container-fluid bg-warning" style="padding-top:70px;padding-bottom:70px">
  <h1>Track Your Order</h1>
  <p>Enter your Order ID and Email to track the status of your order. You can find the  Order ID in the Email/SMS confirming that your order has been shipped</p>
  <a class="btn btn-outline-dark" href="/shop/tracker" role="button">Go To Tracker</a>
</div>
<div id="section3" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
  <h1>Contact Us</h1>
  <p> Drop Us A Line, Or Give Us A Phone Call At 011-41171832 </p>
  <a class="btn btn-outline-dark" href="/shop/contact" role="button">Go To Contact Us</a>
</div>

<div id="section41" class="container-fluid bg-danger" style="padding-top:70px;padding-bottom:70px">
  <h1>What do sellers say about us</h1>
  <div class="media border p-3">
  <svg class="bi bi-person-square" width="4em" height=4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
</svg>
  <div class="media-body ml-2">
    <h4>Tanny Joe <small><i>Posted on February 19, 2016</i></small></h4>
    <p>My Cart has made shipping easy for me. It is reliable and cost-effective shipping solution</p>
    <div class="media p-3">
     <svg class="bi bi-person-check-fill" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm9.854-2.854a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 7.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
</svg>
      <div class="media-body ml-2">
        <h4>Yasmin Ali <small><i>Posted on February 20 2016</i></small></h4>
        <p>My cart provides timely COD remittance & a hassle-free pickup facility</p>
      </div>
    </div>
  </div>
</div>

</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>© 1996-2020, Tanishk Chaturvedi , Inc. or its affiliates</p>
</div>

  </body>
</html>